leaderboard {

  ul {
    list-style: none;
    padding-left: 0;

    li {
      position: relative;

      img {
        width: 100%;
        max-width: 100%;
      }
      a:hover img {
        box-shadow: 0px -2px 4px rgba(127,123,124,0.8);
      }
      h4 {
        text-align: left;
        box-sizing: border-box;
        text-indent: 0.2em;
        width: 100%;
        position: absolute;
        bottom: 0px;
        margin: 0;
        font-weight: bold;

        color: white;
        text-shadow: 0 0 1px black, 0 0 3px black, 0 0 4px black;
      }
      h4:hover {
        color: white;
        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
      }
    }

    li:nth-child(1) {
      width: 90%;
      margin: 20px auto;
      border-bottom: 8px solid #ffd741;

      h4 {
        font-size: 2.6em;
        line-height: 1.3em;
      }
    }

    li:nth-child(2) {
      display: inline-block;
      margin-left: 10%;
      width: 42%;
      border-bottom: 5px solid #7e7c7d;

      h4 {
        font-size: 1.2em;
        line-height: 1.1em;
      }
    }

    li:nth-child(3) {
      display: inline-block;
      width: 33%;
      margin-left: 7%;
      vertical-align: bottom;
      border-bottom: 5px solid #d96e38;

      h4 {
        font-size: 1.1em;
        line-height: 1.2em;
      }
    }
  }

  table {
    margin-top: 30px;

    th:nth-child(2),
    td:nth-child(2),
    th:nth-child(3),
    td:nth-child(3) {
      text-align: right;
    }
  }
}
