Source: twitchcancer
Section: web
Priority: optional
Maintainer: Benjamin Maisonnas <ben@wainei.net>
Uploaders: Benjamin Maisonnas <ben@wainei.net>
Build-Depends: debhelper (>= 9), dh-python, python3-setuptools, dh-systemd
Build-Depends-Indep: python3 (>= 3.4~)
Standards-Version: 3.9.6
Homepage: https://github.com/Benzhaomin/twitchcancer/
Vcs-Git: https://github.com/Benzhaomin/twitchcancer.git
Vcs-Browser: https://github.com/Benzhaomin/twitchcancer/
X-Python3-Version: >= 3.4

Package: twitchcancer
Architecture: all
Depends:
  ${misc:Depends},
  ${python3:Depends},
  python3-zmq (>= 14.4.0),
  python3-yaml (>= 3.11)
Recommends:
  python3-pymongo (>= 3.0.0)
Description: Suite of tools to analyze chat cancer in Twitch.tv's chatrooms
 TwithCancer is made of 3 services that monitor chat channels, record cancer
  levels and expose summary data over a web socket API.
