#!/usr/bin/make -f
export DH_VERBOSE=1

export PYBUILD_DESTDIR=debian/twitchcancer

# we can't run tests without autobahn and it's not packaged for debian yet
export PYBUILD_DISABLE=test

# install in a private dir and symlink scripts later
export PYBUILD_INSTALL_ARGS=--install-layout=deb \
	--install-scripts=/usr/share/twitchcancer \
	--install-lib=/usr/share/twitchcancer

DESTDIR = $(CURDIR)/debian/twitchcancer

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installinit:
	# auto-discovery works on packagename.service so we have to go manual here
	dh_systemd_enable --name=twitchcancer-monitor
	dh_systemd_enable --name=twitchcancer-record
	dh_systemd_enable --name=twitchcancer-expose
	dh_installinit -ptwitchcancer --name=twitchcancer-monitor
	dh_installinit -ptwitchcancer --name=twitchcancer-record
	dh_installinit -ptwitchcancer --name=twitchcancer-expose
