[Unit]
Description=Chat monitoring service for TwitchCancer
After=syslog.target network.target

[Service]
User=twitchcancer
ExecStart=/usr/bin/twitchcancer-monitor -f /etc/twitchcancer/twitchcancer.yml

[Install]
WantedBy=multi-user.target
