<ul>
  <li ng-repeat='record in records|limitTo:3 track by record.channel'>
    <h4 title="{{ record.value | number : 2 }} on {{ record.date }}">{{ record.channel }}</h3>

    <twitchprofile channel="{{ record.channel }}"></twitchprofile>
  </li>
</ul>

<table class="table table-condensed">
  <tr>
    <th>Channel</th>
    <th>Score</th>
    <th>{{ boardType == 'minute' ? 'Date' : 'Since' }}</th>
  <tr>
  <tr ng-repeat='record in records track by record.channel'>
    <td>{{ record.channel }}</td>
    <td>{{ record.value | number:0}}</td>
    <td title="{{ record.date | date:'fullDate' }}">{{ record.date | date:'longDate' }}</td>
  </tr>
</table>
