<h1 title="since a minute ago">Live Charts</h1>

<tabset justified="true">

  <tab heading="Cancer points">
      <bars-chart chart-data="live" chart-field="cancer"></bars-chart>
  </tab>

  <tab heading="Message count">
      <bars-chart chart-data="live" chart-field="messages"></bars-chart>
  </tab>

  <tab heading="Points per message">
      <bars-chart chart-data="live" chart-field="cpm"></bars-chart>
  </tab>

</tabset>

<h1 title="since august 2015">Leaderboards</h1>


<tabset justified="true">

  <tab heading="Cancer points">
    <div class="row" tooltip="Raw quantity of chat cancer">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Best minute <small>short burst</small></h3>
        <leaderboard board-data="leaderboards.cancer.minute" board-type="minute"></leaderboard>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Average <small>delivering everyday</small></h3>
        <leaderboard board-data="leaderboards.cancer.average" board-type="average"></leaderboard>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Total <small>MLG</small></h3>
        <leaderboard board-data="leaderboards.cancer.total" board-type="total"></leaderboard>
      </div>
    </div>
  </tab>

  <tab heading="Message count">
    <div class="row" tooltip="Raw quantity of messages sent">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Best minute <small>short burst</small></h3>
        <leaderboard board-data="leaderboards.messages.minute" board-type="minute"></leaderboard>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Average <small>delivering everyday</small></h3>
        <leaderboard board-data="leaderboards.messages.average" board-type="average"></leaderboard>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Total <small>MLG</small></h3>
        <leaderboard board-data="leaderboards.messages.total" board-type="total"></leaderboard>
      </div>
    </div>
  </tab>

  <tab heading="Points per message">
    <div class="row" tooltip="Overall quality of the chat">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Best minute <small>short burst</small></h3>
        <leaderboard board-data="leaderboards.cpm.minute" board-type="minute"></leaderboard>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Average <small>delivering everyday</small></h3>
        <leaderboard board-data="leaderboards.cpm.average" board-type="average"></leaderboard>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <h3>Total <small>MLG</small></h3>
        <leaderboard board-data="leaderboards.cpm.total" board-type="total"></leaderboard>
      </div>
    </div>
  </tab>

</tabset>
