[Unit]
Description=Data persisting service for TwitchCancer
Requires=mongodb.service
After=syslog.target mongodb.service twitchcancer-monitor.service

[Service]
User=twitchcancer
ExecStart=/usr/bin/twitchcancer-record -f /etc/twitchcancer/twitchcancer.yml

[Install]
WantedBy=multi-user.target
