$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* we can't rely on empty href to style those */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

h1, h2, h3 {
  font-variant: small-caps;
}

h1 {
  padding-bottom: 10px;
  margin-bottom: 15px;
}


/* Tabs */
.tab-pane {
  position: relative;
  border-top: 2px solid #e5e5e5;
  padding: 20px;
}
.tab-pane:before, .tab-pane:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to bottom, #e5e5e5, transparent 80px);
  top: -2px;
  bottom: -2px;
  width: 2px;
}
.tab-pane:before {
  left: -2px;
}
.tab-pane:after {
  right: -2px;
}

.nav-tabs {
  & > li {
    margin-bottom: 0;

    & > a {
      font-variant: small-caps;
      border: 0 none !important;
      border-radius: 0px !important;
      outline: 0 none;
      font-size: 1.4em;
      cursor: pointer !important;

      &:hover {
        color: red;
        background: transparent;
      }
    }

    &.active > a {
      color: black !important;
      border: 0 none;

      &, &:focus, &:hover {
        border: 0 none;
        background: #eaeaea;
      }
    }
  }
}

.tab-pane h3 {
  margin-top: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/* Responsive: Desktop */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
